/*
///////   FONTS   ///////

Rosario
	SemiBold Italic		600
	Bold Italic			700
	Bold				700

Volkhov
	Regular				400

font-family: 'Rosario', sans-serif;
font-family: 'Volkhov', serif;

width: 1920px;
height: 1080px

100/1920 = 0.05
100/1080 = 0.09

253 x 129
1/129wwqa
*/

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap');

:root{
	background-color: #FFFBFB;
	font-size: 10px;
}

body{
	margin: 0;
	--navH: calc(12.9rem);
	--logoW: calc(25.3rem);
	
	font-family: 'Rosario', sans-serif;
	font-weight: 700;
	
	overflow-x: hidden;
}


/*///////   NAV MENU   ///////*/
.header{
	display: flex;
	justify-content: space-between;
	background-color: #000000;
	
	position: fixed;
	
	width: 100vw;
	height: var(--navH);
	
	margin: 0 auto;
	z-index: 1;
}

.logo{
	background-color: white;
	height: var(--navH);
	width: var(--logoW);
	background-repeat: no-repeat;
	background-size: cover;
	
	background-image: url("../img/logo.svg");
}

.navMenu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navMenu > a{
	display: block;
	
	font-style: italic;
	
	font-size: 3.6rem;
	
	text-decoration: none;
	color: #FFFCFC;
	
	margin: 0 3rem;
}

/*///////   PAGE 01   ///////*/
.p01{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.page{
	width: 192rem;
	height: 108rem;
	
	margin: 0 auto;
	
	box-sizing: border-box;
	padding-top: 15vh;
}

.page a{
	display: block;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.p01_a, .p01_b{
	width: 46.5rem;
	
	position: relative;
	left: 0;
}

@keyframes p01_a_anim{ from{ left: -40vw; } to{ left: 0; } }
.p01_a{ animation: p01_a_anim 1s cubic-bezier(.3,.78,.48,1);}

@keyframes p01_b_anim{ from{ left: 40vw; } to{ left: 0; } }
.p01_b{ animation: p01_b_anim 1s cubic-bezier(.3,.78,.48,1);}
	


.p01_cTop, .p01_cBot{
	border-radius: 3rem;
	margin: 4.2rem auto;
}
.p01_cTop{ height: 41rem;}
.p01_cBot{ height: 36.4rem;}


.p01_side{
	width: 37rem;
	height: 58.3rem;
	border-radius: 3rem;
}
.p01_L, .p01_R{	margin: auto 0.5rem; position: relative;}

@keyframes p01_L_anim{ from{ left: -50vw; } to{ left: 0; } }
.p01_L{ animation: p01_L_anim 2s cubic-bezier(.3,.78,.48,1);}

@keyframes p01_R_anim{ from{ left: 50vw; } to{ left: 0; } }
.p01_R{ animation: p01_R_anim 2s cubic-bezier(.3,.78,.48,1);}



.p01_a0{ background-image: url("../img/page_01/p01_a0.png"); }
.p01_a1{ background-image: url("../img/page_01/p01_a1.png"); }

.p01_b0{ background-image: url("../img/page_01/p01_b0.png"); }
.p01_b1{ background-image: url("../img/page_01/p01_b1.png"); }

.p01_L{ background-image: url("../img/page_01/p01_L.png"); }
.p01_R{ background-image: url("../img/page_01/p01_R.png"); }


/*///////   PAGE 02   ///////*/
.p02{
	padding-top: 0;
}

.p02_bg{
	width: 50%;
	height: 100%;
	
	background-image: url("../img/page_02/p02_bg.jpg");
	background-size: cover;
}

.p02_prev{
	width: 50%;
	height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
	box-sizing: border-box;
}

.p02_card{
	position: relative;
	
	background-color: white;

	width: 49.5%;
	height: 49%;
	
	font-size: 4.8rem;
	font-style: italic;
	text-align: center;
	
	margin-top: 0.8rem;
	box-sizing: border-box;
}

.p02_card > img{
	width: 35rem;
	height: 35rem;
	
	margin-top: 2.6rem;
	margin-bottom: 1.2rem;
}

.p02_card_00{ animation: p02_card_anim_00 10s linear infinite; }
.p02_card_01{ animation: p02_card_anim_01 10s linear infinite; }
.p02_card_10{ animation: p02_card_anim_10 10s linear infinite; }
.p02_card_11{ animation: p02_card_anim_11 10s linear infinite; }

@keyframes p02_card_anim_00{
	from{ left: 0; top: 0; }
	25%{ left: 50%; top: 0; }
	50%{ left: 50%; top: 50%; }
	75%{ left: 0; top: 50%; }
	to{ left: 0; top: 0; }
}

@keyframes p02_card_anim_01{
	from{ left: 0; top: 0; }
	25%{ left: 0; top: 50%; }
	50%{ left: -50%; top: 50%; }
	75%{ left: -50%; top: 0; }
	to{ left: 0; top: 0; }
}

@keyframes p02_card_anim_10{
	from{ left: 0; top: 0; }
	25%{ left: 0; top: -50%; }
	50%{ left: 50%; top: -50%; }
	75%{ left: 50%; top: 0; }
	to{ left: 0; top: 0; }
}

@keyframes p02_card_anim_11{
	from{ left: 0; top: 0; }
	25%{ left: -50%; top: 0; }
	50%{ left: -50%; top: -50%; }
	75%{ left: 0; top: -50%; }
	to{ left: 0; top: 0; }
}


/*///////   PAGE 03   ///////*/
.p03{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.p03 > div:first-child{
	font-size: 9.6rem;
	text-transform: capitalize;
	
	margin-bottom: 5.1rem;
}

.p03_cards_container{
	width: 100%;
	height: 67.7rem;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	margin-bottom: 3.4rem;
}

.p03_card{
	display: block;
	
	width: 40.4rem;
	height: 67.7rem;
	
	filter: brightness( 50% );

	border-radius: 4rem;
	
	background-size: cover;
}

.p03_card:hover{
	filter: brightness( 100% );
}

.p03_cards_container > a:nth-child(1){ background-image: url("../img/page_03/p03_prev00.png"); background-size: 101% 101%;}
.p03_cards_container > a:nth-child(2){ background-image: url("../img/page_03/p03_prev01.png"); }
.p03_cards_container > a:nth-child(3){ background-image: url("../img/page_03/p03_prev10.png"); }
.p03_cards_container > a:nth-child(4){ background-image: url("../img/page_03/p03_prev11.png"); }

.p03_card_title{
	position: relative;
	height: 15.46rem;
	
	top: 77.2%;
	background-color: #A3530A;
/*	opacity: 70%;*/
	
	border-bottom-left-radius: 4rem;
	border-bottom-right-radius: 4rem;
	
	opacity: 0%;
	transition: all 0.25s linear;
	
	font-family: 'Volkhov', serif;
	font-size: 4.8rem;
	font-weight: 400;
	
	text-decoration: none;
	
	text-align: center;
	color: #FFFAFA;
}

.p03_card:hover .p03_card_title{
	opacity: 70%;
}

.p03_card_title_00::before{
	content: "Meredith";
	display: block;
	
	position: relative;
	top: 4.5rem;
	
	text-decoration: none;
																																																																																																																																																																																																																				}

.p03_card_title_01::before{
	content: "Jason";
	display: block;
	
	position: relative;
	top: 4.5rem;
}

.p03_card_title_10::before{
	content: "Ryan";
	display: block;
	
	position: relative;
	top: 4.5rem;
}

.p03_card_title_11::before{
	content: "James";
	display: block;
	
	position: relative;
	top: 4.5rem;
}


/*///////   PAGE 04   ///////*/
.p04{
	padding-top: 15rem;
	
	box-sizing: border-box;
}

.p04 > div:first-child{
	display: flex;
	justify-content: center;
	align-items: center;
}

.p04_msgContainer{
	width: 93.6rem;
	height: 57rem;
	
	margin-right: 3.4rem;
	display: inline-block;
}

.p04_msgContainer > div:first-child{
	font-size: 6.4rem;
	font-style: italic;
	text-align: center;
	
	margin-bottom: 1.7rem;
}

.p04_form{
	width: 93.6rem;
	height: 40rem;
	
	background-color: #E5E5E5;
}

.p04_form > input:first-child{
	width: 37.7rem;
	height: 8rem;
	
	font-size: 3.6rem;
	
	margin: 3.7rem 1.5rem 3.7rem 2.8rem;
	padding-left: 2rem;
	
	box-sizing: border-box;
	background-color: #FFFFFF;
}

.p04_form > input:nth-child(2){
	width: 45.2rem;
	height: 8rem;
	
	font-size: 3.6rem;
	
	padding-left: 2rem;
	box-sizing: border-box;
	
	margin: 3.7rem 3rem 3.7rem 1.5rem;
	background-color: #FFFFFF;
}

.p04_form > textarea{
	width: 87.8rem;
	height: 20.9rem;
	
	font-size: 3.6rem;
	
	margin-left: 2.8rem;
	
	padding-left: 2rem;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

.p04_msgContainer+iframe{
	width: 62.6rem;
	height: 57rem;
	
	display: inline-block;
}

.p03_footer{
	height: 30.9rem;
	width: 100%;
	
	font-size: 3rem;
	font-style: italic;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin: 0 auto;
	padding: 7rem 16.2rem 2rem 16.2rem;
	
	box-sizing: border-box;
}

.p03_footer > div:first-child{
	text-align: center;
	
	width: 56.5rem;
	height: 18.7rem;
	
}

.p03_footer > div:nth-child(2){
	text-align: center;
	
	width: 50rem;
	height: 18.7rem;
}

.p03_footer > div:nth-child(3){
	text-align: center;
	
	width: 39rem;
	height: 18.6rem;
}

.p04_title{
	display: block;
	text-align: center;
	
	font-size: 3.6rem;
	font-weight: 700;
	
	font-style: normal;
}

.p04_title_2{
	font-size: 3rem;
}

.p04_a{
	text-decoration: none;
	font-size: 3rem;
	color: #000000;
	line-height: 0.75rem;
}

.p04_a::before{
	content: "";
	display: block;
	position: relative;
	
	top: 2rem;
	left: 9rem;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.p04_a1::before{ background-image: url("../img/page_04/p04_instagram.svg"); width: 2.8rem; height: 2.8rem; }
.p04_a2::before{ background-image: url("../img/page_04/p04_facebook.svg"); width: 3.7rem; height: 3.2rem; left: 8.7rem; }
.p04_a3::before{ background-image: url("../img/page_04/p04_twitter.svg"); width: 3.2rem; height: 2.8rem; }