@media screen and ( min-width: 1620px ){

/*100 / 1620 = 0.06
404 x 677	

677 * 0.06 = 40.62
*/
	:root{
		--p03-c-cont-W: 1620px;
	}
	.wrapper{
		width: var(--p03-c-cont-W);
		max-width: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;	
/*		background-color: red;*/
	}
	
	.p01_cTop, .p01_cBot{
		margin-bottom: 5%;
	}
	
/*
width/height = 404/677	
height = width * 677 / 404 = width * 1.6757
*/

/*	:root{
MARGIN = % * 100 = 500
		--p03-card-margin: calc( 500 * var(--p03-c-cont-W));
		--p03-card-M: calc( var(--p03-card-margin) * 4);
		
		--p03-cards-width: calc( var(--p03-c-cont-W) - var(--p03-card-M));
		--p03-card-W: calc( var(--p03-cards-width) / 4);
		
		--p03-card-H: calc( var(--p03-card-W) * 1.6757 );
*/
	}
	
	.p03_cards_container{
		height: 57rem;
/*		height: 60.9rem;*/
	}
	
	.p03_card{
		width: 22%;
		max-width: 370px;

		height: 100%;
		
		background-size: 100% 100% !important;
	}
	
	.p03_cards_container > a:nth-child(1){ background-size: 104%; }
	.p03_cards_container > a:nth-child(2){ background-size: 99%; }
	.p03_cards_container > a:nth-child(3){ background-size: 101%; }
	
	.p03 > div:first-child{
		margin: 5% auto;
	}
	
	.p04{
		padding-top: 3% !important;
	}
	
	.p04_msgContainer > div:first-child{
		font-size: 6.4rem;
	}

	.p04_form{
		width: 100%;
		height: 58rem;
	}
	
	.p04_form *{
		font-size: 3.6rem;
	}

	.p04_form > input:first-child{
/*		width: 33%;*/
	}

	.p04_form > input:nth-child(2){
/*		width: 47%;*/
	}

	.p04_form > textarea{
/*		width: 88%;*/
/*		height: 52.25%;*/
/*		font-size: 3.6rem;*/
	}

/*
	
	1920
	100% / 1920 = 0.05% на 1px
	936   x 400   34	626   x 570       -162-
	46.8% x 20%   1.7%  31.3% x 28.5%      8.1%
	
	1620
	1620 / 100% = 16.2px на 1%
*/
	.p04_container{
		width: 100%;
	}
	
	.p04_msgContainer{
		width: 48%;
		height: 100%;
	}
	
	.p04_msgContainer+iframe{
		width: 48%;
		height: 100%;
	}
	
	.p03_footer{
/*		margin-top: 0 !important;*/
		font-size: 1.9vw;
	}
	
	.p04_title{
		font-size: 2.3vw;
	}
	
	.p04_title_2{
		font-size: 1.9vw;
	}
	
	.p04_a{
		font-size: 1.9vw;
		margin-left: 5.5vw;
	}
}