@media screen and ( min-width: 992px ) and ( max-width: 1620px ){
	
/*
width / height = 404 / 677
height = width * 644 / 404
*/
	.p02{
		height: calc(1080vw * 0.05);
	}
	
	.p03_title{
		font-size:
	}
	
	.p02_card{
		font-size: 3vw;
	}
	
	.p03_cards_container{
		height: 35vw !important;
	}
	
	.p03_card{
		width: 22vw !important;
	}

	.p03 > div:first-child{
		font-size: 6vw;
/*		font-size: 8.7vw;*/
	}
	
	.p04{
		padding-top: 3% !important;
	}
	
	form{
		height: auto;
	}
	.p04_container{
		height: auto;
	}
	
	.p04_msgContainer > div:first-child{
		font-size: calc( 64vw * 0.05 ) !important;
/*		font-size: calc( 64vw * 0.05 ) !important;*/
	}
	
	.p04_form *{
		font-size: 1.7vw;
/*		font-size: calc( 36vw * 0.05 ) !important;*/
	}
	
	.p04_form > input:first-child{
		width: 40% !important;
	}
	
	.p04_form{
		height: 30vw;
	}
	
	.p04_msgContainer + iframe{
		height: auto;
	}
	
/*
	
	1920
	100% / 1920 = 0.05% на 1px
	936   x 400   34	626   x 570       -162-
	46.8% x 20%   1.7%  31.3% x 28.5%      8.1%
	
	1620
	1620 / 100% = 16.2px на 1%
*/
	
	.p04_msgContainer{
		width: 46.8% !important;
/*		height: 20vw;*/
/*		height: 40rem;*/
	}
	
	.p04_msgContainer > iframe{
		width: 31.3% !important;
		height: 57rem;
	}
	
	.p03_footer{
		margin-top: 2vw !important;
		font-size: 1.9vw;
	}
	
	.p04_title{
		font-size: 2.3vw;
	}
	
	.p04_title_2{
		font-size: 1.9vw;
	}
	
	.p04_a{
		font-size: 1.9vw;
		margin-left: 5.5vw;
	}
}